.AddwordInput {
  display: block;
  margin: auto;
  height: 30px;
  border: 2px solid #7b7b7b;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}

.AddwordButton {
  display: block;
  margin: 10px auto;
  height: 30px;
  width: 196px;
  background-color: #ffd747;
  border: 2px solid #7b7b7b;
  border-radius: 5px;
}